#console{
  background: black;
  color: white;
  width: 100%;
  font-size: 120%;
  margin: auto;
}

#start-menu{
  margin: 0 auto;
  width: 90%;
  padding: 10%
}

#banner{
  display: block;
  float: left;
  max-width: 100%;
}

li{
  padding: 10px;
}
